* {
   box-sizing: border-box;
}

body {
   font-family: "PT Sans", sans-serif;
   font-size: 14px;
   line-height: 24px;
   font-weight: 400;
   color: #787b80;
}
.container {
   width: 100%;
   max-width: 1044px;
   padding: 0 10px;
   margin: 0 auto;
}

/* HEADER====================== */
.header {
   height: 100vh;
   text-align: center;
   color: #ffffff;
   background: url(../images/bg.jpg) no-repeat center top / cover;
}
.header__logo {
   padding-top: 105px;
   margin-bottom: 46px;
}
.header__menu {
   margin-bottom: 70px;

   font-family: "Open Sans", sans-serif;
   font-size: 13px;
   line-height: 24px;
   font-weight: 600;
}
.header__menu-list {
   display: flex;
   justify-content: space-between;
   max-width: 350px;
   margin: 0 auto;
}
.header__menu-link {
   color: #ffffff;
   text-decoration: none;
   text-transform: uppercase;
}

.header__title {
   margin-bottom: 44px;

   font-family: "Ubuntu", sans-serif;
   font-size: 53px;
   line-height: 1;
   font-weight: 700;
}
.header__subtitle {
   margin-bottom: 80px;

   font-weight: 700;
   font-size: 15px;
}
.header__btn {
   display: inline-block;
   padding: 19px 50px;
   margin-bottom: 120px;

   color: #ffffff;
   font-size: 15px;
   font-weight: 700;

   text-decoration: none;
   background: #50c3af;
   border-radius: 50px;

   transition: all 0.5s;
}
.header__btn:hover {
   background: rgb(80, 195, 175, 0.6);
   transform: scale(1.2);
}

/* EVERYONE====================== */
.everyone {
   padding: 56px 0 60px;
   background: #eeeeef;
}
.everyone__inner {
   display: flex;
   justify-content: space-between;
   text-align: center;
}
.everyone__item {
   flex: 0 1 30%;
   display: flex;
   flex-direction: column;
   align-items: center;
}
.everyone__icon {
   margin-bottom: 30px;
   height: 40px;
}
.everyone__title {
   width: 135px;
   margin-bottom: 23px;
}
.title {
   padding-bottom: 23px;

   color: #384048;
   font-size: 16px;
   font-weight: 700;

   text-transform: uppercase;
   border-bottom: 2px solid #e2e3e4;
}

/* TEMPLATE=================== */
.template__inner {
   margin: 65px 0 78px;
   display: flex;
   justify-content: space-between;
}
.template__item {
   /* width: 460px; */
   flex: 0 1 45%;
}
.template__img {
   width: 100%;
   margin-bottom: 45px;
   object-fit: cover;
}
.tamplate__title {
   width: inherit;
   margin-bottom: 30px;
}
.main-title {
   padding-bottom: 18px;

   color: #384048;
   font-size: 18px;
   font-weight: 700;

   text-transform: uppercase;
   border-bottom: 2px solid #e2e3e4;
}
.template__text {
   margin-bottom: 30px;
}
.template__btn,
.btn--green {
   background-color: #50c3af;
}
.btn--green:hover {
   background-color: rgb(80, 195, 175, 0.7);
}
.btn {
   padding: 11px 18px;

   color: #ffffff;
   text-decoration: none;
   border-radius: 50px;

   transition: all 0.5s;
}

/* MODULES========================= */
.modules__inner {
   margin: 65px 0 70px;
   display: flex;
   justify-content: space-between;
}
.modules__item {
   flex: 0 1 30%;
}
.modules__img {
   width: 100%;
   margin-bottom: 40px;
}
.modules__title {
   margin-bottom: 25px;
}
.modules__text {
   margin-bottom: 30px;
}
.modules__link {
   padding-right: 13px;
   position: relative;
   color: #50c3af;
   text-decoration: none;
   transition: all 0.5s;
}
.modules__link:hover {
   display: inline-block;
   transform: scale(1.2);
}
.modules__link::after {
   content: ">";
   position: absolute;
   right: 0;
}

/* SUPPORT===================== */
.support {
   padding: 60px 0;
   background-color: #eeeeef;
}
.support__title {
   width: 40%;
   padding-left: 40px;
   margin-bottom: 25px;
   position: relative;
}
.support__title::before {
   content: "";
   position: absolute;
   left: 0;
   width: 24px;
   height: 24px;
   background: url(../images/support-decor.png) no-repeat;
}
.support__text {
   margin-bottom: 35px;
}
.btn--grey {
   background-color: #d2d5da;
}
.btn--grey:hover {
   background-color: #acaeb1;
}

/* NOTES==================== */
.notes {
   padding: 60px 0;
   background-color: #eeeeef;
}
.notes__inner {
   display: flex;
   justify-content: space-between;
}
.notes__item {
   width: 45%;
}
.notes__title {
   position: relative;
   margin-bottom: 25px;
   padding-left: 40px;
}
.notes__title--icon-1 {
   background: url(../images/notes-icon1.png) no-repeat left top;
}
.notes__title--icon-2 {
   background: url(../images/notes-icon2.png) no-repeat left top;
}
.notes__text {
   margin-bottom: 35px;
}

/* FORYOU==================== */
.foryou__inner {
   margin: 60px 0 65px;
   display: flex;
   justify-content: space-between;
}
.foryou__item {
   flex: 0 1 47%;
}
.foryou__img {
   width: 100%;
}
.foryou__title {
   display: inline-block;
   margin-bottom: 25px;
   width: 70%;
}
.foryou__text {
   margin-bottom: 35px;
}

/* COMPANY====================== */
.company {
   padding: 50px 0 70px;
   background-color: #50c3af;
   text-align: center;
}
.company__title {
   display: inline-block;
   padding-left: 30px;
   margin-bottom: 40px;
   position: relative;

   line-height: 1;
   color: #ffffff;
   border-bottom: 2px solid rgb(226, 227, 228, 0.2);
}
.company__title::before {
   content: "\2606";
   position: absolute;
   left: 0;
}
.company__inner {
   display: flex;
   justify-content: space-between;
}
.cmpany__item {
   flex: 0 1 33%;
}

/* FOOTER===================== */
.footer {
   margin: 24px 0;
}
.footer__inner {
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.footer__copy {
   font-size: 13px;
}
.footer__socials {
   display: flex;
   align-items: center;
}
.footer__socials a {
   color: #b5b7b9;
   font-size: 18px;
}
.footer__socials a:nth-child(2) {
   margin: 0 15px;
}

@media (min-height: 660px) {
   .header {
      height: 100%;
   }
}
@media (max-width: 660px) {
   .header {
      height: 100%;
   }
   .foryou__inner {
      margin: 30px 0;
   }
   .foryou__title {
      padding-bottom: 10px;
      margin-bottom: 10px;
   }
   .foryou__text {
      margin-bottom: 15px;
   }
   .foryou__btn {
      display: inline-block;
   }
}

@media (max-width: 570px) {
   .header__logo {
      padding-top: 50px;
   }
   .header__title {
      margin-bottom: 20px;
   }
   .header__subtitle {
      margin-bottom: 35px;
   }
   .modules__inner {
      margin: 40px 0;
      flex-direction: column;
   }
   .modules__item {
      margin: 0 auto;
      text-align: center;
      width: 70%;
   }
   .modules__img {
      margin-bottom: 20px;
   }
   .modules__title {
      margin-bottom: 15px;
   }
   .modules__text {
      margin-bottom: 15px;
   }
   .modules__link {
      display: inline-block;
      margin-bottom: 15px;
   }
   .notes {
      padding: 40px 0 10px;
   }
   .notes__inner {
      flex-direction: column;
   }
   .notes__item {
      width: 100%;
      margin: 0 auto;
      text-align: center;
   }
   .notes__btn {
      display: inline-block;
      margin-bottom: 30px;
   }
   .notes__title {
      display: inline-block;
      margin-bottom: 15px;
      text-align: center;
   }
   .notes__text {
      margin-bottom: 15px;
   }
   .foryou__inner {
      flex-direction: column;
      text-align: center;
   }
   .foryou__img {
      margin-bottom: 15px;
      width: 80%;
   }
   .company {
      padding: 30px 0 10px;
   }
   .company__inner {
      flex-wrap: wrap;
   }
   .cmpany__item {
      margin-bottom: 20px;
   }
}

@media (max-width: 430px) {
   .header {
      height: auto;
   }
   .everyone {
      padding: 50px 0 30px;
   }
   .everyone__inner {
      flex-direction: column;
   }
   .everyone__text {
      margin-bottom: 20px;
   }
   .everyone__title {
      margin-bottom: 10px;
   }
   .title {
      padding-bottom: 10px;
   }
   .template__inner {
      margin: 50px 0 30px;
      flex-direction: column;
      text-align: center;
   }
   .template__item {
      margin-bottom: 20px;
   }
   .template__img {
      margin-bottom: 20px;
   }
   .tamplate__title {
      margin-bottom: 15px;
   }
   .support__title {
      width: 100%;
      margin-bottom: 15px;
   }
   .support {
      padding: 30px 0;
   }
   .support__text {
      margin-bottom: 25px;
   }
   .modules__item {
      width: 100%;
   }
   .foryou__img {
      width: 100%;
   }
   .company__inner {
      justify-content: space-around;
   }
   .footer {
      margin: 15px 0 10px;
   }
   .footer__inner {
      flex-direction: column-reverse;
   }
   .footer__socials {
      margin-bottom: 10px;
   }
}
